.language-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  width: 80%;
  max-width: 300px;
}

li {
  padding: 10px;
  background-color: #222;;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

li.selected {
  background-color: #ef06cc;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ef06cc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b81072;
}