/* LanguageSelection.css */
.language-selection {
    text-align: center;
    background-color: #111111; /* Тёмный фон, как на скриншоте */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }

  .language-selection select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ef06cc;
    margin-bottom: 20px;
    width: 200px;
    appearance: none;
  }
  
  .language-selection button {
    padding: 10px 20px;
    width: 150px;
    background-color: #ef06cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .language-selection button:hover {
    background-color: #c305a8;
  }